<template>
  <q-page>
    <div class="flex flex-center">
      <q-card
        style="width: 700px; max-width: 100%"
        class="q-bus-light-shadow rounded-borders q-mt-xl"
      >
        <q-tabs
          v-model="tab"
          active-color="primary"
          align="justify"
          class="text-grey"
          dense
          indicator-color="primary"
          narrow-indicator
        >
          <q-tab name="login" content-class="q-py-md">
            <template v-slot:default>
              <div class="f-w-700">Вход</div>
            </template>
          </q-tab>
          <q-tab name="register" content-class="q-py-md" class="f-w-900">
            <template v-slot:default>
              <div class="f-w-700">Регистрация</div>
            </template>
          </q-tab>
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
<!--          Login-->
          <q-tab-panel name="login">
            <login-form />
          </q-tab-panel>

<!--          Register-->
          <q-tab-panel name="register">
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import LoginForm from 'components/auth/login-form'

export default {
  name: 'Auth',
  components: { LoginForm },
  computed: {},
  data () {
    return {
      tab: 'login'
    }
  }
}
</script>

<style scoped>

</style>
