<template>
<q-page>
  <base-page-title title="Мой профиль" icon="far fa-user"/>
  {{ user }}
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import { mapState } from 'vuex'
export default {
  name: 'Profile',
  components: { BasePageTitle },
  computed: {
    ...mapState('user', ['user'])
  }
}
</script>

<style scoped>

</style>
