<template>
<div class="base-page-title">
  <q-item class="items-center flex">
      <div class="text-subtitle1 f-w-700 text-dark">{{ pageTitle }}</div>
  </q-item>
</div>
</template>

<script>
export default {
  name: 'base-page-title',
  computed: {
    pageTitle () {
      return this.$route.meta.title
    }
  }

}
</script>

<style lang="sass">

</style>
