<template>
<div class="q-bus-logo">
  <q-icon name="lab la-quora"/>
  <span class="logo-part-2">  business</span>
</div>
</template>

<script>
export default {
  name: 'base-logo'
}
</script>

<style lang="sass">
.q-bus-logo
  position: relative
  font-size: 28px
  font-weight: 900
  z-index: 10
  display: flex
  align-items: center

  .logo-part-2
    font-size: 18px
    border-radius: 5px
    color: $primary

</style>
