
*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background: #f3f3f4
  font-family: 'Nunito', sans-serif

.rounded-borders
  border-radius: 10px !important


@import "shadows"
@import "fonts"
