<template>
<div class="left-drawer">
  <q-list class="q-mt-lg">
    <q-item
      v-for="link in links"
      :key="link.name"
      class="drawer-menu-item rounded-borders q-bus-shadow text-dark"
      :to="{ name: link.name }"
      dark exact-active-class="bg-primary text-white"
    >
      <q-item-section avatar>
        <q-icon
          :name="link.icon"
        />
      </q-item-section>
      <q-item-section>{{ link.label }}</q-item-section>
    </q-item>
  </q-list>
</div>
</template>

<script>
import routesMixin from 'src/mixins/routes-mixin'

export default {
  name: 'left-drawer',
  mixins: [routesMixin]
}
</script>

<style lang="sass">
.drawer-menu-item
  background: $info
  margin-top: 10px
  padding: 20px
  font-size: 15px
  font-weight: 700
</style>
