<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapState('user', ['user']),
    userId () {
      return this.user.id
    }
  },
  methods: {
    ...mapActions('user', ['getMe']),
    goToAuth () {
      if (this.$route.name !== 'auth') this.$router.push({ name: 'auth' })
    }
  },
  async mounted () {
    if (!this.userId) {
      if (localStorage.getItem('token')) {
        await this.getMe(localStorage.getItem('token'))
        if (!this.user.id) await this.goToAuth()
      } else {
        await this.goToAuth()
      }
    }
  },
  watch: {
    userId (val) {
      if (!val && this.$route.name !== 'auth') {
        this.$router.push({
          name: 'auth'
        })
      }
    }
  }
}
</script>
