<template>
  <q-layout view="lHh lpR lFf">
    <q-header class="q-bus-header bg-transparent text-dark items-center">
      <q-btn
        v-if="!authPage"
        icon="lab la-quora"
        dense no-caps unelevated round
        size="lg"
        color="white"
        text-color="primary"
        class="rounded-borders f-w-700 q-mt-sm q-bus-light-shadow"
        @click="leftDrawerOpen = !leftDrawerOpen"
      />
      <q-space />
      <base-page-title />
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      content-class="bg-grey-1"
    >
      <div class="q-pa-sm">
        <div class="row items-center">
          <div class="col-9">
            <base-logo />
          </div>
          <div class="col-3 q-pl-sm text-right">
            <q-btn
              class="rounded-borders"
              icon="las la-times"
              dense flat
              color="dark"
              @click="leftDrawerOpen = !leftDrawerOpen"
            />
          </div>
        </div>
        <left-drawer />
      </div>
    </q-drawer>

    <q-page-container class="q-px-md">
      <router-view />
    </q-page-container>

    <q-btn
      v-if="!authPage"
      label="Выход"
      class="absolute-bottom-right rounded-borders q-bus-light-shadow q-mr-sm q-mb-sm q-card--bordered"
      no-caps unelevated
      icon="las la-door-open"
      color="info"
      text-color="dark"
      @click="setDefaultUser"
    />
  </q-layout>
</template>

<script>

import BaseLogo from 'components/base-logo'
import LeftDrawer from 'components/left-drawer/left-drawer'
import BasePageTitle from 'components/base-page-title'
import { mapMutations } from 'vuex'

export default {
  name: 'MainLayout',
  components: { BasePageTitle, LeftDrawer, BaseLogo },
  computed: {
    authPage () {
      return this.$route.name === 'auth'
    }
  },
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    ...mapMutations('user', ['setDefaultUser'])
  }
}
</script>

<style lang="sass">
.q-bus-header
  height: 50px
  align-items: center
  display: flex
  padding: 0 7px
</style>
