<template>
<div class="login-form">
<q-card-section class="q-mt-lg q-px-sm">
  <q-input
    label="Пользователь" hint="Введите имя пользователя или email"
    v-model="formData.identifier"
    outlined
    class="rounded-borders"
    :error="errors.identifierError"
    error-message="Это поле обязательное"
  >
    <template v-slot:prepend>
      <q-icon name="person" />
    </template>
  </q-input>

  <q-input
    label="Пароль"
    v-model="formData.password"
    outlined
    type="password"
    class="rounded-borders q-mt-md"
    :error="errors.passwordError"
    error-message="Это поле обязательное"
  >
    <template v-slot:prepend>
      <q-icon name="vpn_key" />
    </template>
  </q-input>

  <q-btn
    label="Войти"
    color="primary"
    unelevated
    class="q-mt-lg full-width rounded-borders q-py-md f-w-900"
    :loading="loading"
    @click="enter"
  />
</q-card-section>
</div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'login-form',
  data () {
    return {
      loading: false,
      formData: {
        identifier: 'test',
        password: 'Eldar198804'
      },
      errors: {
        identifierError: false,
        passwordError: false
      }
    }
  },
  methods: {
    ...mapActions('user', ['login']),
    async enter () {
      if (!this.formData.identifier) {
        this.errors.identifierError = true
        return
      }

      if (!this.formData.password) {
        this.errors.passwordError = true
        return
      }

      this.loading = true
      await this.login(this.formData)
      this.loading = false
    }
  }
}
</script>

<style scoped>

</style>
